* {
  /* border: 2px solid teal; */
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 2rem 5rem;
  gap: 2rem;
  border: 5px solid red;
}

#root > section {
  flex: 1 1 auto;
  width: 50%;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.menu > div {
  width: 2rem;
  height: 0.4rem;
  background-color: black;
  border-radius: 1rem;
}

.sample-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 5rem;
  position: relative;
  max-width: 10rem;
  padding: 0 0.2rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
}

.sample-bar > span {
  position: absolute;
}

.sample-bar > svg {
  margin-left: auto;
}

.download {
  margin-left: auto;
}

i {
  font-size: 2rem;
}

svg {
  width: 2rem;
}
